questioner/data/classification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classification" type="classificationType"/>
  <xs:complexType name="categoryType" mixed="true">
    <xs:sequence>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="nofquestions" use="optional"/>
    <xs:attribute type="xs:string" name="nofsubcategories" use="optional"/>
    <xs:attribute type="xs:string" name="filename" use="optional"/>
  </xs:complexType>
  <xs:complexType name="classificationType">
    <xs:sequence>
      <xs:element type="classType" name="class" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classType">
    <xs:sequence>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="nofquestions" use="optional"/>
    <xs:attribute type="xs:string" name="nofsubcategories" use="optional"/>
  </xs:complexType>
</xs:schema>